{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href = "{% static 'css/TrangChu.css' %}">
<section class="products">
    <div class="container">
        <h1>Kết quả tìm kiếm cho {{search}}</h1>
        <div class="grid">
            {% for product in result %}
            <div class="card">
                <a href="{% url 'product_detail' product.prod_cate_lv1 product.prod_cate_lv2 product.prod_name %}" class="card-title-link">
                    <img src="{{ product.avatar_url }}" class="card-img-top" alt="{{product.prod_name}}">
                </a>
                <div class="card-body">
                <a href="{% url 'product_detail' product.prod_cate_lv1 product.prod_cate_lv2 product.prod_name %}" class="card-title-link">
                    <h5 class="card-title line-clamp">
                        {{product.prod_name}}
                    </h5>
                </a>     
                    <div class="product-info">
                        <p class="price">{{product.prod_price_formatted}} đ/Phần</p>
                    </div>
                    <div id="popup" class="popup hidden">
                        <img src="{% static 'image/Thông báo Thêm vào giỏ hàng.png' %}" alt="Sản phẩm đã được thêm vào giỏ hàng">
                    </div>
                    <button data-product="{{ product.id }}" data-action="add" class="addtocart update-cart">CHỌN MÓN</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}