{% extends "base.html" %}
{% load static %}

{% block products %}
<link rel="stylesheet" href = "{% static 'css/TrangChu.css' %}">

<section class="products">
    <div class="container">
        <div class="grid">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title line-clamp">
                        Bún bò
                    </h5>
                    <p class="price"><del>120.000 đ</del></p>
                    <div class="product-info">
                        <p class="price">100.000 đ/Phần</p>
                    </div>
                    <button>CHỌN MUA</button>
                </div>
            </div>
            <div class="card">
                
                <div class="card-body">
                    <h5 class="card-title line-clamp">Bún bò
                    </h5>
                    <p class="price"><del>120.000 đ</del></p>
                    <div class="product-info">
                        <p class="price">100.000 đ/Phần</p>

                    </div>
                    <button>CHỌN MUA</button>
                </div>
            </div><div class="card">
                
                <div class="card-body">
                    <h5 class="card-title line-clamp">Bún bò
                    </h5>
                    <p class="price"><del>120.000 đ</del></p>
                    <div class="product-info">
                        <p class="price">100.000 đ/Phần</p>

                    </div>
                    <button>CHỌN MUA</button>
                </div>
            </div>
            <div class="card">
                
                <div class="card-body">
                    <h5 class="card-title line-clamp">Bún bò
                    </h5>
                    <p class="price"><del>120.000 đ</del></p>
                    <div class="product-info">
                        <p class="price">100.000 đ/Phần</p>

                    </div>
                    <button>CHỌN MUA</button>
                </div>
            </div>
            <div class="card">
                
                <div class="card-body">
                    <h5 class="card-title line-clamp">Bún bò
                    </h5>
                    <p class="price"><del>120.000 đ</del></p>
                    <div class="product-info">
                        <p class="price">100.000 đ/Phần</p>

                    </div>
                    <button>CHỌN MUA</button>
                </div>
            </div>
            <div class="card">
                
                <div class="card-body">
                    <h5 class="card-title line-clamp">Bún bò
                    </h5>
                    <p class="price"><del>120.000 đ</del></p>
                    <div class="product-info">
                        <p class="price">100.000 đ/Phần</p>

                    </div>
                    <button>CHỌN MUA</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock products %}