 /* Box */
 .box {
     text-align: center;
 }

 /* End Box */

 /* Item List */
 .cart-cont {
     display: grid;
     grid-template-columns: 2fr 1fr;
     padding-bottom: 15px;
     gap: 10px;
 }

 .item-list {
     border-radius: 15px;
 }

 .checkbox-container {
     padding: 10px;
     background-color: white;
     border-radius: 10px 10px 0px 0px;
     border-top: 1px solid gainsboro;
     border-left: 1px solid gainsboro;
     border-right: 1px solid gainsboro;
 }

 .checkbox-container input {
     margin-left: 16px;
 }

 .checkbox-container label {
     margin-left: 5px;
     padding-right: 150px;
 }

 .item-card {
     padding: 10px;
     border: 1px solid gainsboro;
     background-color: white;
     border-radius: 0;
     /* Không bo góc cho các thẻ thông thường */
 }

 /* Áp dụng bo góc dưới cho item-card cuối cùng */
 .item-card:last-child {
     border-bottom-left-radius: 10px;
     /* Bo góc dưới trái */
     border-bottom-right-radius: 10px;
     /* Bo góc dưới phải */
 }

 .inner-price {
     color: brown;
     text-align: center;
     width: 100px;
 }

 .form-select {
     margin: 0 -10px 0 20px;
     text-align: left;
     width: 100px;
 }

 /* End Item List*/

 /* Quantity Selector */

 .quantity-selector {
     display: flex;
     padding: 0px;
     gap: 10px;
     justify-content: space-between;
     align-items: center;
 }

 .input-group .btn {
     border-radius: 50%;
     /* Bo tròn các nút */
     width: 30px;
     /* Đặt chiều rộng cho nút - và + */
     height: 30px;
     /* Đặt chiều cao cho nút - và + */
     padding: 0;
     /* Loại bỏ padding để nút không bị dãn ra */
     background-color: ffffff;
 }

 .input-group input {
     border-radius: 0;
     /* Bỏ bo tròn cho input */
     text-align: center;
     /* Canh giữa nội dung */
     padding: 0;
     border-top: 1px solid gray;
     border-bottom: 1px solid gray;
     height: 30px;
 }

 /* End of Quantity Selector */

 /* Payment */
 .bill {
     background-color: white;
     border-radius: 15px;
     border: 1px solid ccc;
     padding: 20px;
     width: 400px;
     text-align: center;
 }

 .total {
     padding: 10px;
     display: flex;
     justify-content: space-between;
     font-size: 20px;
     font-weight: bold;
 }

 .total span {
     color: brown;
 }

 .cart-btn {
     width: 250px;
 }

 .avatar-image {
     width: 50px;
     height: 50px;
     object-fit: cover;
     /* Đảm bảo ảnh được cắt để vừa khung */
     border-radius: 5px;
     /* (Tùy chọn) Bo góc nhẹ cho ảnh */
     margin-right: 10px;
 }

 p {
     margin-bottom: 0;
 }


 .empty-cart-message {
     padding: 50px;
     text-align: center;
     font-size: 40px;
 }

 /* Align-item-center */
 .align-item-center {
     display: flex;
     align-items: center;
 }

 /* End Align-item-center */

 /* Justify-content-center */
 .justify-content-center {
     display: flex;
     justify-content: center;
 }

 /* End Justify-content-center */